nav {
    display: flex;
    background-image: linear-gradient(to right, rgb(25, 43, 102), rgb(86, 119, 226));
    opacity: 50%;
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
    border: var(--border)
  }